{% extends '::base.html.twig' %}

{% block titulo %}Crear Evento Festivo{% endblock %}

{% block headerJavascripts %}
    <script src="{{ asset('bundles/app/evento/js/crearEvento.js') }}"></script>
{% endblock %}

{% block contenido %}
<div ng-controller="eventoCtrl">
    <form action="{{ path('evento_festivo_guardar') }}" method="POST" class="form-horizontal">
        <div class="form-group">
            {{ form_label(form.titulo, 'Título del Evento Festivo', {label_attr: {'class': 'col-sm-4 lead control-label'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.titulo, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.fecha, 'Fecha de Realización', {label_attr: {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-7">
                <div class="row">
                <div class="col-xs-2">
                    {{ form_widget(form.fecha.day, {attr: {'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-3">
                    {{ form_widget(form.fecha.month, {attr: {'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-3">
                    {{ form_widget(form.fecha.year, {attr: {'class': 'form-control'}}) }}
                </div>
                </div>
            </div>
        </div>

        {% include 'AppBundle:Evento:productosComprar.html.twig' %}

        {% include 'AppBundle:Evento:participantes.html.twig' %}

        <div style="display: block">
            {{ form_widget(form) }}
        </div>
        
        <div class="text-center">
            <input type="submit" value="Confirmar y Calcular Aporte por Persona" class="btn btn-success btn-lg">
        </div>
    </form>
</div>

{% endblock %}