{% extends '::base.html.twig' %}

{% block titulo %}Eventos Festivos{% endblock %}

{% block contenido %}
    <legend>
        Historial de Eventos Festivos
        <div class="pull-right">
            <a href="{{ path('evento_festivo_crear') }}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear Evento Festivo</a>
        </div>
    </legend>

    {% if saldo is not null %}
        <h2 class="text-right">Saldo Actual: <em>$ {{ saldo.monto | number_format(2,',','.') }}</em></h2>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nº</th><th>Evento Festivo</th><th>Fecha</th><th>Cantidad de Participantes</th>
                    <th>Recaudación</th><th>Gasto</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in listadoEventos %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('evento_festivo_resumen', {'id': evento.id } ) }}">{{ evento.titulo }}</a></td>
                    <td>{{ evento.fecha | date('d-m-Y') }}</td>
                    <td>{{ evento.participantes | length }}</td>
                    <td>{{ evento.recaudacion }}</td>
                    <td>{{ evento.gasto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
