<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}StorageRoom{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/base.css') }}">
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% block headerJavascripts %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="Site">
        {% include '::partials/header.html.twig' %}
        
        {% include '::partials/login.html.twig' %}

        {% block notificaciones %}
            {% include '::partials/alerts.html.twig' %}
        {% endblock %}

        <h1>
            {% block titulo %}{% endblock %}
        </h1>

        {% include '::partials/navbar.html.twig' %}

        <div class="container Site-content">
            {% block contenido %}{% endblock %}
        </div>

        {% include '::partials/footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
